@charset "utf-8";
/* CSS Document */

.cv input[type=text], .cv select, .cv textarea {
	width:450px;
	display:block;
}
#side-sortables .cv input[type=text], #side-sortables .cv select, #side-sortables .cv textarea {
	width:255px;
}
.cv ul, .cv ol {
	margin:5px;
}
.cv li {
	list-style:none;
}
fieldset.cv, div.cv {
	padding:3px 5px;
}
.cv fieldset fieldset {
	border:1px solid #ccc
}
#telefones input, #telefones select, #idiomas select {
	width:125px
}
fieldset.datas li input.periodo {
	width:100px
}
fieldset.datas li {
	float:left;
}
fieldset {
	background: #ffc;
	border: 1px solid #999;
	position: relative;
	clear:both
}
#post-body #normal-sortables {
	display:none
}
#titlediv {
	margin-bottom:0!important
}
